[Unit]
Description=Backup all the things

[Service]
ExecStart=/usr/bin/duply crisidev backup
User=root
Type=oneshot

[Install]
WantedBy=multi-user.target
