[Unit]
Description=Crisidev DNS LoadBalancing

[Service]
ExecStartPre=/usr/bin/pen -l /var/log/pen-53-tcp.log -p /var/run/pen-53-tcp.pid -S 3 -h 192.168.0.1:53 192.168.0.2:53 192.168.0.3:53 192.168.0.4:53
ExecStart=/usr/bin/tail -F /var/log/pen-53-udp.log
ExecStop=/bin/bash -c "kill -9 $(cat /var/run/pen-53-udp.pid)"
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
