[Unit]
Description=Etcd2
Conflicts=etcd.service

[Service]
ExecStart=/usr/local/bin/etcd --name shuttle --data-dir /var/lib/etcd2 -advertise-client-urls http://192.168.0.1:2379 \
  -initial-advertise-peer-urls http://192.168.0.1:2380 \
  -listen-client-urls http://192.168.0.1:2379,http://192.168.0.1:4001 \
  -listen-peer-urls http://192.168.0.1:2380,http://192.168.0.1:7001 \
  -initial-cluster '0c7b3505e31d48b7a71aea415922db30=http://192.168.0.2:2380,0a8f316637d94f2a8144ee5293e16f5a=http://192.168.0.3:2380,shuttle=http://192.168.0.1:2380,780e1f887c724002863008c3a052091c=http://192.168.0.4:2380' \
  -initial-cluster-state existing
ExecStartPost=/bin/bash -c "sleep 10 && /usr/local/bin/etcdctl set /skydns/org/crisidev/etcd/shuttle '{\"host\":\"192.168.0.1\"}'"
ExecStop=-/usr/local/bin/etcdctl rm /skydns/org/crisidev/etcd/shuttle
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
