[Unit]
Description=Renew letsencrypt certificates

[Service]
RootDirectory=/
WorkingDirectory=/crisidev-share/software/letsencrypt
User=root
Type=oneshot
EnvironmentFile=/etc/crisidev/letsencrypt
ExecStart=/crisidev-share/software/letsencrypt/letsencrypt-auto certonly --server https://acme-v01.api.letsencrypt.org/directory -a webroot --webroot-path=${DIR}/webroot --agree-tos --renew-by-default --non-interactive ${DOMAINS}
ExecStartPost=/bin/cp /etc/letsencrypt/live/crisidev.org/*.pem ${DIR}

[Install]
WantedBy=multi-user.target

[X-Fleet]
