[Unit]
Description=SSLh

[Service]
ExecStartPre=/usr/sbin/sslh --user sslh --listen 5.9.8.166:443 --ssl 127.0.0.1:443 --pidfile /var/run/sslh/sslh.pid
ExecStart=/usr/local/bin/etcdctl --endpoint http://etcd.crisidev.org:4001 exec-watch /crisidev/irssi.crisidev.org -- \
  sh -c "killall -9 sslh ; /usr/sbin/sslh --user sslh --listen 5.9.8.166:443 --ssh irssi.crisidev.org:22 --ssl 127.0.0.1:443 --pidfile /var/run/sslh/sslh.pid"
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
