[Unit]
Description=Bitlbee
After=docker.service
After=registrator.crisidev.org.service
Requires=registrator.crisidev.org.service

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill biltbee.crisidev.org
ExecStartPre=-/usr/bin/docker rm bitlbee.crisidev.org
ExecStartPre=-/usr/bin/docker pull hub.crisidev.org:5000/crisidev/bitlbee
ExecStart=/usr/bin/docker run --rm --name bitlbee.crisidev.org \
  --expose 6667 -e SERVICE_ID=bitlbee -e SERVICE_NAME=bitlbee \
  -v /crisidev-share/irssi/.bitlbee:/var/lib/bitlbee \
  hub.crisidev.org:5000/crisidev/bitlbee
ExecStartPost=-/usr/bin/etcdctl set /crisidev/private/bitlbee.crisidev.org '{"tcp":[6667]}'
ExecStop=-/usr/bin/etcdctl rm /crisidev/private/bitlbee.crisidev.org
ExecStop=/usr/bin/docker stop bitlbee.crisidev.org

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata="type=node"
