[Unit]
Description=Couchpotato
After=docker.service
After=registrator.service
Requires=registrator.service

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill movies.crisidev.org
ExecStartPre=-/usr/bin/docker rm movies.crisidev.org
ExecStartPre=-/usr/bin/docker pull hub.crisidev.org:5000/crisidev/couchpotato
ExecStart=/usr/bin/docker run --rm --name movies.crisidev.org \
  --expose 9093 -e SERVICE_ID=movies -e SERVICE_NAME=movies -v /unsafe:/unsafe -v /crisidev-share:/crisidev-share \
  hub.crisidev.org:5000/crisidev/couchpotato
ExecStartPost=-/usr/bin/etcdctl set /crisidev/movies.crisidev.org '{"https":[9093],"htaccess":"false"}'
ExecStop=-/usr/bin/etcdctl rm /crisidev/movies.crisidev.org
ExecStop=/usr/bin/docker stop movies.crisidev.org

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata="type=snatch"
