[Unit]
Description=FleetUI
After=docker.service
After=registrator.service
After=fleet.service
Requires=registrator.service
Requires=fleet.service

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/etcdctl set /crisidev/fleetui.crisidev.org '{"https":[3000], "htaccess":"true"}'
ExecStartPre=-/usr/bin/docker kill fleetui.crisidev.org
ExecStartPre=-/usr/bin/docker rm fleetui.crisidev.org
ExecStartPre=-/usr/bin/docker pull hub.crisidev.org:5000/crisidev/fleetui
ExecStart=/usr/bin/docker run --rm --name fleetui.crisidev.org --expose 3000 \
  -e SERVICE_ID=fleetui -e SERVICE_NAME=fleetui -e ETCD_PEER=http://etcd.crisidev.org:4001 \
  hub.crisidev.org:5000/crisidev/fleetui
ExecStop=-/usr/bin/etcdctl rm /crisidev/fleetui.crisidev.org
ExecStop=/usr/bin/docker stop fleetui.crisidev.org

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata="type=node"
