[Unit]
Description=Gitolite
After=docker.service
After=registrator.service
Requires=registrator.service

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/docker kill gitolite.crisidev.orsidev.org
ExecStartPre=-/usr/bin/docker rm gitolite.crisidev.org
ExecStartPre=-/usr/bin/docker pull hub.crisidev.org:5000/crisidev/gitolite
ExecStart=/usr/bin/docker run --rm --name gitolite.crisidev.org -v /crisidev-share/git:/home/git \
  -e SSH_KEY="ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAtWimS6k0eObH0WmsHrIbrZ+RyNuMHcgHRfZAMSJRI++YeUScwIDhXX/ru6NlNyPQIKUsGeHgadhJNA6UHu+4Ck24ISCODcPQrBAi6r65AmL0iEIOnGdcs3IzVG6ski7WDdjCzCPY1lcWBxyWSpUcNmmx55+vllEMPb5a/O2RpQQ3VLfl/WPuCxQYmrLj7vnWS4Vcsia8QwpPxKPsW6HWAbNd7WuewthkxB+/T8gc1D/HwSubTeW49e6fM7dtNNtNAcUcv20QFvwXB8P4lNAZjnBFf5US4sJL53UPsv4vZ74+mTm+6WO1iGrcuRnmyOuTZYa/gTt/tYp6grGUJgsYIw== /Users/bigo/.ssh/id_rsa" \
  hub.crisidev.org:5000/crisidev/gitolite /init echo

[Install]
WantedBy=multi-user.target

[X-Fleet]
