[Unit]
Description=Gitolite
After=docker.service
After=registrator.service
Requires=registrator.service

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill gitolite.crisidev.org
ExecStartPre=-/usr/bin/docker rm gitolite.crisidev.org
ExecStartPre=-/usr/bin/docker pull hub.crisidev.org:5000/crisidev/gitolite
ExecStart=/usr/bin/docker run --rm --name gitolite.crisidev.org \
  --expose 22 -e SERVICE_ID=git -e SERVICE_NAME=git \
  -v /crisidev-share/git:/home/git -v /crisidev-share/git/.hostssh:/etc/ssh \
  hub.crisidev.org:5000/crisidev/gitolite /init /usr/sbin/sshd -D
ExecStartPost=-/usr/bin/etcdctl set /crisidev/git.crisidev.org '{"tcp":[22]}'
ExecStop=-/usr/bin/etcdctl rm /crisidev/git.crisidev.org
ExecStop=/usr/bin/docker stop gitolite.crisidev.org

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata="type=node"
