[Unit]
Description=Logbox
After=docker.service
After=registrator.service
Requires=registrator.service

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/etcdctl set /crisidev/private/logbox.crisidev.org '{"http":[9200],"udp":[5000]}'
ExecStartPre=-/usr/bin/docker kill logbox
ExecStartPre=-/usr/bin/docker pull hub.crisidev.org:5000/crisidev/logbox
ExecStart=/bin/bash -c "/usr/bin/docker start -a logbox || /usr/bin/docker run --name logbox \
  -t --expose 9200 --expose 5000/udp -e SERVICE_ID=logbox -e SERVICE_NAME=logbox \
  hub.crisidev.org:5000/crisidev/logbox"
ExecStop=-/usr/bin/etcdctl rm /crisidev/private/logbox.crisidev.org
ExecStop=/usr/bin/docker stop logbox

[Install]
WantedBy=multi-user.target

[X-Fleet]
