[Unit]
Description=Logspout
After=docker.service
After=registrator.service
Requires=registrator.service

[Service]
Restart=on-failure
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/etcdctl set /crisidev/private/logspout-${HNAME}.crisidev.org '{"http":[8000,8100]}'
ExecStartPre=-/usr/bin/docker kill logspout
ExecStartPre=-/usr/bin/docker rm logspout
ExecStartPre=-/usr/bin/docker pull progrium/logspout
ExecStart=/usr/bin/docker run --rm --name logspout --expose 8100 -v /var/run/docker.sock:/tmp/docker.sock \
  -e SERVICE_ID=logspout-${HNAME} -e SERVICE_NAME=logspout progrium/logspout syslog://logbox.crisidev.org:5000
ExecStop=-/usr/bin/etcdctl rm /crisidev/private/logspout-${HNAME}.crisidev.org
ExecStop=/usr/bin/docker stop logspout

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
