[Unit]
Description=Opus
After=docker.service
After=registrator.crisidev.org.service
Requires=registrator.crisidev.org.service

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill opus.crisidev.org
ExecStartPre=-/usr/bin/docker rm opus.crisidev.org
ExecStartPre=-/usr/bin/docker pull hub.crisidev.org:5000/crisidev/opus
ExecStart=/usr/bin/docker run --rm --name opus.crisidev.org \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /usr/bin/docker:/usr/bin/docker \
  hub.crisidev.org:5000/crisidev/opus
ExecStop=/usr/bin/docker stop opus.crisidev.org

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata="type=node"
