[Unit]
Description=PlexMediaServer
After=docker.service
After=registrator.service
Requires=registrator.service

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/etcdctl set /crisidev/plex.crisidev.org '{"tcp":[32400],"https":[32400],"htaccess":"false"}'
ExecStartPre=-/usr/bin/docker kill plex.crisidev.org
ExecStartPre=-/usr/bin/docker pull hub.crisidev.org:5000/crisidev/plex
ExecStart=/usr/bin/docker run --rm --name plex.crisidev.org \
  --expose 32400 -e SERVICE_ID=plex -e SERVICE_NAME=plex -v /unsafe:/unsafe \
  hub.crisidev.org:5000/crisidev/plex
ExecStop=-/usr/bin/etcdctl rm /crisidev/plex.crisidev.org
ExecStop=/usr/bin/docker stop plex.crisidev.org

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata="type=snatch"
