[Unit]
Description=RegistryUI
After=docker.service

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/etcdctl set /crisidev/registryui.crisidev.org '{"https":[80], "htaccess":"true"}'
ExecStartPre=-/usr/bin/docker kill registryui.crisidev.org
ExecStartPre=-/usr/bin/docker rm registryui.crisidev.org
ExecStartPre=-/usr/bin/docker pull konradkleine/docker-registry-frontend:v2
ExecStart=/usr/bin/docker run --rm --name registryui.crisidev.org --expose 80 \
  -e SERVICE_ID=registryui -e SERVICE_NAME=registryui \
  -e ENV_DOCKER_REGISTRY_HOST=hub.crisidev.org -e ENV_DOCKER_REGISTRY_PORT=5000 \
  konradkleine/docker-registry-frontend:v2
ExecStop=-/usr/bin/etcdctl rm /crisidev/registryui.crisidev.org
ExecStop=/usr/bin/docker stop registryui.crisidev.org

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata="type=node"
