[Unit]
Description=Skype
After=docker.service
After=registrator.crisidev.org.service
Requires=registrator.crisidev.org.service

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill skype.crisidev.org
ExecStartPre=-/usr/bin/docker rm skype.crisidev.org
ExecStartPre=-/usr/bin/docker pull hub.crisidev.org:5000/crisidev/skype
ExecStart=/usr/bin/docker run --rm --name skype.crisidev.org \
  --expose 2727 -e SERVICE_ID=skype -e SERVICE_NAME=skype \
  hub.crisidev.org:5000/crisidev/skype
ExecStartPost=-/usr/bin/etcdctl set /crisidev/private/skype.crisidev.org '{"tcp":[2727]}'
ExecStop=-/usr/bin/etcdctl rm /crisidev/private/skype.crisidev.org
ExecStop=/usr/bin/docker stop skype.crisidev.org

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata="type=node"
