[Unit]
Description=Znc
After=docker.service
After=registrator.crisidev.org.service
Requires=registrator.crisidev.org.service

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill znc.crisidev.org
ExecStartPre=-/usr/bin/docker rm znc.crisidev.org
ExecStartPre=-/usr/bin/docker pull hub.crisidev.org:5000/crisidev/znc
ExecStart=/usr/bin/docker run --rm --name znc.crisidev.org \
  --expose 7002 -e SERVICE_ID=znc -e SERVICE_NAME=znc \
  -v /crisidev-share/irssi/.znc:/home/irssi/.znc \
  hub.crisidev.org:5000/crisidev/znc
ExecStartPost=-/usr/bin/etcdctl set /crisidev/znc.crisidev.org '{"tcp":[7002]}'
ExecStop=-/usr/bin/etcdctl rm /crisidev/znc.crisidev.org
ExecStop=/usr/bin/docker stop znc.crisidev.org

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata="type=node"
