[Unit]
Description=Grafana
After=tinc.service
Requires=tinc.service

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill etcdarm.crisidev.org
ExecStartPre=-/usr/bin/docker rm etcdarm.crisidev.org
ExecStartPre=-/usr/bin/docker pull hub.crisidev.org:5000/crisidev/etcd:armhf
ExecStart=/usr/bin/docker run --rm --name etcdarm.crisidev.org \
  -p 172.16.0.2:4001:4001 -p 172.16.0.2:7001:7001 -p 172.16.0.2:2379:2379 -p 172.16.0.2:2380:2380 \
  hub.crisidev.org:5000/crisidev/etcd:armhf /usr/local/bin/etcd --name hubble --data-dir /var/lib/etcd2 \
  -advertise-client-urls http://172.16.0.2:2379 -initial-advertise-peer-urls http://172.16.0.2:2380 -listen-client-urls http://0.0.0.0:2379,http://0.0.0.0:4001 \
  -listen-peer-urls http://0.0.0.0:2380,http://0.0.0.0:7001 -initial-cluster '0c7b3505e31d48b7a71aea415922db30=http://192.168.0.2:2380,0a8f316637d94f2a8144ee5293e16f5a=http://192.168.0.3:2380,hubble=http://172.16.0.2:2380,780e1f887c724002863008c3a052091c=http://192.168.0.4:2380,shuttle=http://192.168.0.1:2380' \
  -initial-cluster-state existing
ExecStartPost=/bin/bash -c "sleep 10 && /usr/local/bin/etcdctl set /skydns/org/crisidev/hubble '{\"host\":\"172.16.0.2\"}'"
ExecStop=/usr/bin/docker stop etcdarm.crisidev.org
ExecStop=-/usr/local/bin/etcdctl rm /skydns/org/crisidev/hubble

[Install]
WantedBy=multi-user.target
