#cloud-config
hostname: {{ hostname }}
users:
  - name: "core"
    passwd: "{{ password_hash }}"
    groups:
      - "sudo"
      - "docker"
    ssh-authorized-keys:
      - "{{ ssh_public_key }}"
coreos:
  etcd2:
    discovery: "{{ etcd_key }}"
    advertise-client-urls: "http://{{ address }}:2379"
    initial-advertise-peer-urls: "http://{{ address }}:2380"
    listen-client-urls: "http://0.0.0.0:2379,http://0.0.0.0:4001"
    listen-peer-urls: "http://{{ address }}:2380,http://{{ address }}:7001"
  fleet:
    public-ip: {{ address }}
    etcd_servers: "http://{{ address }}:4001"
    etcd-request-timeout: 15
    metadata: "host={{ hostname }},hypervisor=kvm,type={{ flavour }}"
  units:
    - name: etcd2.service
      command: start
    - name: fleet.service
      command: start
    - name: docker.service
      command: restart
      content: |-
        [Unit]
        Description=Docker Application Container Engine
        After=docker.socket early-docker.target network.target
        Requires=docker.socket early-docker.target

        [Service]
        Environment=TMPDIR=/var/tmp
        MountFlags=slave
        LimitNOFILE=1048576
        LimitNPROC=1048576
        ExecStart=/usr/bin/docker daemon --cluster-store=etcd://{{ address }}:2379 --host=fd:// $DOCKER_OPTS $DOCKER_OPT_BIP $DOCKER_OPT_MTU $DOCKER_OPT_IPMASQ
        RestartSec=10
        Restart=always

        [Install]
        WantedBy=multi-user.target
    - name: docker-tcp.socket
      command: start
      enable: true
      content: |
        [Unit]
        Description=Docker Socket for the API

        [Socket]
        ListenStream=2375
        Service=docker.service
        BindIPv6Only=both

        [Install]
        WantedBy=sockets.target
    - name: systemd-journal-gatewayd.socket
      command: start
      enable: true
      content: |
        [Unit]
        Description=Journal Gateway Service Socket

        [Socket]
        ListenStream=/var/run/journald.sock
        Service=systemd-journal-gatewayd.service

        [Install]
        WantedBy=sockets.target
    - name: 00-eth0.network
      runtime: true
      content: |
        [Match]
        Name=eth0

        [Network]
        DNS=127.0.0.1
        DNS=8.8.8.8
        Address={{ address }}/24
        Gateway=192.168.0.1
    - name: mkdir-{{ cluster }}-share.service
      command: start
      content: |
        [Unit]
        Description=Create the mount directory /{{ cluster }}-share and /unsafe

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=/usr/bin/mkdir -p /{{ cluster }}-share
        ExecStart=/usr/bin/mkdir -p /unsafe
        ExecStart=/usr/bin/chown core:core /{{ cluster }}-share
        ExecStart=/usr/bin/chown core:core /unsafe
    - name: {{ cluster }}\x2dshare.mount
      command: start
      content: |
        [Unit]
        Description=Mount {{ cluster }}-share onto /{{ cluster }}-share
        Requires=mkdir-{{ cluster }}-share.service
        After=mkdir-{{ cluster }}-share.service

        [Mount]
        What={{ cluster }}-share
        Where=/{{ cluster }}-share
        Type=9p
        Options=trans=virtio,cache=mmap,access=user

        [Install]
        WantedBy=user-config.target
    - name: unsafe.mount
      command: start
      content: |
        [Unit]
        Description=Mount unsafe onto /unsafe
        Requires=mkdir-{{ cluster }}-share.service
        After=mkdir-{{ cluster }}-share.service

        [Mount]
        What=unsafe
        Where=/unsafe
        Type=9p
        Options=trans=virtio,cache=mmap,access=user

        [Install]
        WantedBy=user-config.target
    - name: cluster.service
      command: start
      enable: true
      content: |
        [Unit]
        Description=Initialise Cluster
        After=fleet.service
        Requires=fleet.service

        [Service]
        Type=oneshot
        ExecStart=/home/core/add_path.sh
        ExecStart=/home/core/get_calicoctl.sh
        ExecStart=-/usr/bin/etcdctl mkdir /skydns/{{ domain.split(".")[1] }}/{{ cluster }}
        ExecStart=-/usr/bin/etcdctl mkdir /{{ cluster }}
        ExecStart=-/usr/bin/etcdctl mkdir /{{ cluster }}/private
        ExecStart=-/usr/bin/etcdctl mkdir /{{ cluster }}/opus
        ExecStart=-/usr/bin/etcdctl set /{{ cluster }}/{{ hostname }} '{"tcp":[22]}'
        ExecStart=-/usr/bin/etcdctl set /{{ cluster }}/gotty.{{ domain }} '{"https":[8080],"htaccess":"true"}'
        ExecStart=-/usr/bin/etcdctl set /skydns/{{ domain.split(".")[1] }}/{{ cluster }}/mx1 '{"host": "ASPMX.L.GOOGLE.COM", "mail": true, "priority": 1}'
        ExecStart=-/usr/bin/etcdctl set /skydns/{{ domain.split(".")[1] }}/{{ cluster }}/mx2 '{"host": "ALT1.ASPMX.L.GOOGLE.COM", "mail": true, "priority": 2}'
        ExecStart=-/usr/bin/etcdctl set /skydns/{{ domain.split(".")[1] }}/{{ cluster }}/mx3 '{"host": "ALT2.ASPMX.L.GOOGLE.COM", "mail": true, "priority": 3}'
        ExecStart=-/usr/bin/etcdctl set /skydns/{{ domain.split(".")[1] }}/{{ cluster }}/mx4 '{"host": "ASPMX2.L.GOOGLE.COM", "mail": true, "priority": 4}'
        ExecStart=-/usr/bin/etcdctl set /skydns/{{ domain.split(".")[1] }}/{{ cluster }}/mx5 '{"host": "ASPMX3.L.GOOGLE.COM", "mail": true, "priority": 5}'
        ExecStart=-/usr/bin/etcdctl set /skydns/{{ domain.split(".")[1] }}/{{ cluster }}/apt '{"host":"nginx.crisidev.org"}'
        ExecStart=-/usr/bin/etcdctl set /skydns/{{ domain.split(".")[1] }}/{{ cluster }}/repo '{"host":"nginx.crisidev.org"}'
        ExecStart=-/usr/bin/etcdctl set /skydns/{{ domain.split(".")[1] }}/{{ cluster }}/shuttle '{"host":"192.168.0.1"}'
        ExecStart=-/usr/bin/etcdctl set /skydns/{{ domain.split(".")[1] }}/{{ cluster }}/hubble '{"host":"172.16.0.2"}'
        ExecStart=-/usr/bin/etcdctl set /skydns/{{ domain.split(".")[1] }}/{{ cluster }}/{{ shortname }} '{"host":"{{ address }}"}'
        ExecStart=-/usr/bin/etcdctl set /skydns/{{ domain.split(".")[1] }}/{{ cluster }}/etcd/{{ shortname }} '{"host":"{{ address }}"}'
        ExecStart=-/usr/bin/etcdctl set /skydns/{{ domain.split(".")[1] }}/{{ cluster }}/gotty '{"host": "192.168.0.1"}'
        ExecStart=-/usr/bin/etcdctl set /skydns/config '{"domain":"{{ domain }}","dns_addr":"0.0.0.0:53","nameservers":["8.8.8.8:53","8.8.4.4:53"],"machines":["http://192.168.0.12:2379","http://192.168.0.13:2379","http://192.168.0.14:2379"],"discover":true}'
        ExecStart=/usr/bin/systemctl stop update-engine.service

        [Install]
        WantedBy=user-config.target
    - name: install-toolbox.service
      command: start
      enable: true
      content: |
        [Unit]
        Description=Toolbox
        After=cluster.service
        Requires=cluster.service

        [Service]
        Type=oneshot
        TimeoutStartSec=10m
        ExecStartPre=/usr/bin/su core -c "/usr/bin/toolbox apt-get update"
        ExecStartPre=/usr/bin/su core -c "/usr/bin/toolbox apt-get install -y htop iotop bmon dstat bash-completion wget"
        ExecStartPre=/usr/bin/su core -c "/usr/bin/toolbox wget https://raw.githubusercontent.com/docker/docker/master/contrib/completion/bash/docker -O /usr/share/bash-completion/completions/docker"
        ExecStartPre=/usr/bin/su core -c "/usr/bin/toolbox cp /usr/share/bash-completion /media/root/var/ -R"
        ExecStart=/bin/bash -c "echo source /var/bash-completion/bash_completion >> /home/core/.bashrc"
        ExecStartPost=/usr/bin/chown -R core:core /home/core
  update:
    reboot-strategy: 'off'
write_files:
- path: /etc/environment
  content: |
    DOMAIN={{ domain }}
    CLUSTER={{ cluster }}
    HOSTNAME={{ hostname }}
    HNAME={{ shortname }}
    IPADDR={{ address }}
- path: /etc/systemd/system/docker.service.d/50-insecure-registry.conf
  content: |
    [Service]
    Environment='DOCKER_OPTS=--insecure-registry="192.168.0.0/24" --insecure-registry="10.0.0.0/16" --insecure-registry hub.{{ domain }}:5000 -dns {{ address }}'
- path: /home/core/.ssh/id_rsa
  content: |
{{ ssh_private_key|indent(4, true) }}
- path: /home/core/.toolboxrc
  content: |
    TOOLBOX_DOCKER_IMAGE=debian
    TOOLBOX_DOCKER_TAG=jessie
- path: /home/core/add_path.sh
  permissions: 777
  owner: root
  content: |
    #!/usr/bin/bash -e
    # Add /opt/bin to the _front_ of the PATH.
    # Can't directly write to .profile since it's a symlink to a RO filesystem
    mkdir -p /opt/bin
    rm /home/core/.bashrc
    echo 'PATH=$PATH:/opt/bin' > /home/core/.bashrc
    echo 'export ETCD_AUTHORITY="{{ address }}:2379"' >> /home/core/.bashrc
    echo 'Defaults env_keep +="ETCD_AUTHORITY"' >> /etc/sudoers.d/etcd
- path: /home/core/get_calicoctl.sh
  permissions: 777
  owner: root
  content: |
    #!/usr/bin/bash -e
    wget -O /opt/bin/calicoctl http://www.projectcalico.org/builds/calicoctl
    chmod +x /opt/bin/calicoctl
