map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}
{% for key, value in services.iteritems() %}{% for port in value['ports'] %}
server {
    listen 80;
    server_name {{ key }};

    proxy_set_header Host             $http_host;   # required for docker client's sake
    proxy_set_header X-Real-IP        $remote_addr; # pass on real client's IP
    client_max_body_size 0; # disable any limits to avoid HTTP 413 for large image uploads
    chunked_transfer_encoding on;

    access_log syslog:server=graylog.DOMAIN:12301 graylog2_format;
    error_log syslog:server=graylog.DOMAIN:12302;

    location / {
{% if value['htaccess'] == "true" %}
        set $ngo_client_id "68200045974-hb6l14uctglq7m88dq27j7rsrat1ttl1.apps.googleusercontent.com";
        set $ngo_client_secret "2dMet4K56Hw-NMixkPByk0PG";
        set $ngo_token_secret "Aij2ees3Uirah5choh0jievae7een1chaebeu9suyo4ieb1uveijo3aicaex";
        set $ngo_secure_cookies "true";
        access_by_lua_file "/etc/nginx/nginx-google-oauth/access.lua";
        header_filter_by_lua "ngx.header.content_length = nil";
        body_filter_by_lua_file "/etc/nginx/nginx-google-oauth/body_filter.lua";
{% endif %}
{% if key == "plex.crisidev.org" %}
        if ($http_x_plex_device_name = '') {
            rewrite ^/$ https://$http_host/web/index.html;
        }
        proxy_redirect off;
{% endif %}
        resolver etcd.DOMAIN;
        set $backend_upstream "http://{{ key }}:{{ port }}";
        proxy_http_version 1.1;
        proxy_connect_timeout       600;
        proxy_send_timeout          600;
        proxy_read_timeout          600;
        send_timeout                600;
        proxy_pass $backend_upstream;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header Host $http_host;
    }
}
{% endfor %}{% endfor %}
