<?xml version="1.0"?>
<config version="1.0" serial="14" timestamp="1442606477.11">
  <Lib>
    <Account>
      <IdleTimeForAway>300</IdleTimeForAway>
      <IdleTimeForNA>1800</IdleTimeForNA>
      <Migration>63</Migration>
      <OMigration>1</OMigration>
    </Account>
    <Call>
      <MissedCallsRegistrarAnchor>https://api.mcr.skype.com/clients/v1/users/Skype/sbigol/missed-calls?anchor=mcr20150704.20140104.NE1.FFFFFFFFFFFFFFFF;mcr20150704.20140104.WE1.FFFFFFFFFFFFFFFF;mcr20150704.20140104.WUS1.FFFFFFFFFFFFFFFF</MissedCallsRegistrarAnchor>
    </Call>
    <CentralStorage>
      <LastBackoff>0</LastBackoff>
      <LastFailure>0</LastFailure>
      <LastSync>1442606178</LastSync>
      <NeedSync>0</NeedSync>
      <SyncSet>
        <p>
          <avatar>1608ea25:2</avatar>
          <email>b62524c6:2</email>
          <profile>345ff87b:2</profile>
        </p>
        <u>
          <adcloud_annaloew>8bb979ac:2</adcloud_annaloew>
          <alex_morlini>8a3ed083:2</alex_morlini>
          <alexandre.2Earrighi>8b93029b:2</alexandre.2Earrighi>
          <alexx8576>fac796cf:2</alexx8576>
          <allezia.2Ecampani>8c0e629a:2</allezia.2Ecampani>
          <ambratani>e5235ad7:2</ambratani>
          <andrea.2Eopenia>a537d55d:2</andrea.2Eopenia>
          <andrea_lusuardi>49a79025:2</andrea_lusuardi>
          <andreguazz>6038c2bb:2</andreguazz>
          <andreu.2Ebartoli>b00295f7:2</andreu.2Ebartoli>
          <aperture_alex>90904b8a:2</aperture_alex>
          <arianna.2Egarofolin>6b3b0df:2</arianna.2Egarofolin>
          <asocgirl>b18dd7cb:2</asocgirl>
          <assistenza.2Etechnacy>9cd01df8:2</assistenza.2Etechnacy>
          <at_stbucchi>f196e0ea:2</at_stbucchi>
          <bergamo9>46b2fc55:2</bergamo9>
          <brightness0101>e0879eba:2</brightness0101>
          <caiolo85>c1645515:2</caiolo85>
          <camipluto>923f4d40:2</camipluto>
          <campa_d>97df708b:2</campa_d>
          <carlo.2Eferrari23>bbd2a54f:2</carlo.2Eferrari23>
          <cicci.2Eje>baef1e5a:2</cicci.2Eje>
          <cinzia.2Emarceddu>1db8c506:2</cinzia.2Emarceddu>
          <conferenze.2Esbslex>a1951742:2</conferenze.2Esbslex>
          <cruzeiro_85>e024fb41:2</cruzeiro_85>
          <cynzia.2Emarceddu>d337e601:2</cynzia.2Emarceddu>
          <daniela.2Ecampanini1>c1b73faa:2</daniela.2Ecampanini1>
          <daniele.2Egallingani>3028f1e3:2</daniele.2Egallingani>
          <davide79r>60e8a776:2</davide79r>
          <dominiando>db93a3a6:2</dominiando>
          <don.2Emagnani>4e18ea0b:2</don.2Emagnani>
          <donjoice>b5e88941:2</donjoice>
          <dott.2Efrancesco.2Erossi>d1ba3215:2</dott.2Efrancesco.2Erossi>
          <e80_zediu.2Ec>b1a0e58d:2</e80_zediu.2Ec>
          <earcar>460c33c6:2</earcar>
          <eb_stbucchi>5b2e9b2e:2</eb_stbucchi>
          <echo123>4c17eb23:2</echo123>
          <ele71499>5c500aba:2</ele71499>
          <eleonora.2Eberetti>10d0bd:2</eleonora.2Eberetti>
          <enri.2Emiglio>7234b1a9:2</enri.2Emiglio>
          <enrico.2Egiarletta>361158d7:2</enrico.2Egiarletta>
          <erbedo>58659229:2</erbedo>
          <essepi_consulenzeinformatiche>70f2891b:2</essepi_consulenzeinformatiche>
          <eugenio.2Ezarottispa.2Esalerno>6fa2afc9:2</eugenio.2Ezarottispa.2Esalerno>
          <filippo.2Egi>206de486:2</filippo.2Egi>
          <franca.2Efavia>ca9e4b52:2</franca.2Efavia>
          <francesca.2Etorelli6>58ab2881:2</francesca.2Etorelli6>
          <francesco.2Earduini>2acb2adf:2</francesco.2Earduini>
          <francesco.2Epedrini.2E1>480030b8:2</francesco.2Epedrini.2E1>
          <francesco.2Erubini>1214d605:2</francesco.2Erubini>
          <ghizzorobot>a40e543a:2</ghizzorobot>
          <gio.2Egonzo>c759d016:2</gio.2Egonzo>
          <giogonzo89>31fc13cd:2</giogonzo89>
          <giovanni.2Eopenia>9a4c54be:2</giovanni.2Eopenia>
          <giuli.2Ebonna>4d9cdb2f:2</giuli.2Ebonna>
          <il_polo>e1130e22:2</il_polo>
          <ilaberty88>e98f404a:2</ilaberty88>
          <illiber>7cefad49:2</illiber>
          <infore_studiobucchi>2ba47e37:2</infore_studiobucchi>
          <infore_studiobucchi_2>ac6d072:2</infore_studiobucchi_2>
          <kelly.2Ekavanagh.2Ehuntex>dbb627a9:2</kelly.2Ekavanagh.2Ehuntex>
          <lara.2Ecodeca>22d74d0:2</lara.2Ecodeca>
          <laura.2Ebertolini1>761c8d30:2</laura.2Ebertolini1>
          <lemorragia>7df4ecc1:2</lemorragia>
          <live.3Acinzia.2Emarceddu>22f00291:2</live.3Acinzia.2Emarceddu>
          <live.3Amastrolindo69>886ccd3a:2</live.3Amastrolindo69>
          <lorenagiorgio1>4986976d:2</lorenagiorgio1>
          <luca.2Ecocconcellilondon>e9b692ce:2</luca.2Ecocconcellilondon>
          <luke_86>a400e2e3:2</luke_86>
          <lusetti.2Eandrea>786b3220:2</lusetti.2Eandrea>
          <mammaci2>f3793eef:2</mammaci2>
          <mantovale>52fc4951:2</mantovale>
          <marco_space>74aae7e0:2</marco_space>
          <mario.2Eghinoi>c4daf09d:2</mario.2Eghinoi>
          <marta_giulia>e7f31fc3:2</marta_giulia>
          <martina.2Eavuteq>5dcc99c7:2</martina.2Eavuteq>
          <massimo.2Enoclerius>18db00ad:2</massimo.2Enoclerius>
          <massimovecchi86>707148e9:2</massimovecchi86>
          <mastro2040>efdad0f4:2</mastro2040>
          <matte_1986>71abd8f6:2</matte_1986>
          <maxnegro>6932a40:2</maxnegro>
          <menoz_>237fa673:2</menoz_>
          <michael.2Eigea>3304703a:2</michael.2Eigea>
          <mon.2Egac>dbd8b9f1:2</mon.2Egac>
          <nemisnotebook>b18c9f47:2</nemisnotebook>
          <nicolascaltriti71>65a10a11:2</nicolascaltriti71>
          <nino.2Ealma>d31a8a00:2</nino.2Ealma>
          <noclerius>cc24375e:2</noclerius>
          <noclerius.2Eanna>26a86f0e:2</noclerius.2Eanna>
          <paiz90>4ec980a9:2</paiz90>
          <perdelli.2Emoss>99e75645:2</perdelli.2Emoss>
          <pescecombattente1>70449379:2</pescecombattente1>
          <priscillo.2Efuretto.2Emeraviglia>d132c6b:2</priscillo.2Efuretto.2Emeraviglia>
          <riccardo.2Ebigoi>cedf4dd8:2</riccardo.2Ebigoi>
          <roberto.2Elasagni>ee763777:2</roberto.2Elasagni>
          <roberto.2Eopenia>d5eb81c9:2</roberto.2Eopenia>
          <saveporc>149e9ffc:2</saveporc>
          <saverio270485>c1b6cc70:2</saverio270485>
          <sem4186>58d0a271:2</sem4186>
          <shammash>70831f8c:2</shammash>
          <shara.2Ebeddini>6eef5b75:2</shara.2Ebeddini>
          <soy_elguapo>15d49bbc:2</soy_elguapo>
          <stefano_cocconcelli>4ef2dae4:2</stefano_cocconcelli>
          <steven.2Ebelli>bab244af:2</steven.2Ebelli>
          <sunrisehell>ce300262:2</sunrisehell>
          <tappof>979e3b6e:2</tappof>
          <tebaide.2E.2E.2E>eb35afd6:2</tebaide.2E.2E.2E>
          <titti_ge80>99e8733f:2</titti_ge80>
          <torelli-5>a7303b2b:2</torelli-5>
          <valevelia>d547a9d2:2</valevelia>
          <vb_addicted>e7cde34a:2</vb_addicted>
          <vincenzo.2Emastropietro>6e442cbf:2</vincenzo.2Emastropietro>
          <vittoriofoschi>fb91ffac:2</vittoriofoschi>
        </u>
      </SyncSet>
    </CentralStorage>
    <Contacts>
      <Migration>3</Migration>
    </Contacts>
    <Conversation>
      <ConversationStatistics>
        <ConnectivityTimeStamp>1442606076</ConnectivityTimeStamp>
        <TimeStamp>1442606076</TimeStamp>
      </ConversationStatistics>
      <CreationTimestampFixed>1</CreationTimestampFixed>
      <DupeLegacyDeleted2>1</DupeLegacyDeleted2>
      <GivenDisplaynameFixed>1</GivenDisplaynameFixed>
      <GroupChatStatisticsEvent>
        <TimeStamp>1442606076</TimeStamp>
      </GroupChatStatisticsEvent>
      <IsBlockedFixed>1</IsBlockedFixed>
      <LastMessageIdFixed3>1</LastMessageIdFixed3>
      <PermanenceFixed>1</PermanenceFixed>
      <PruningHorizon>1442606175</PruningHorizon>
      <RecentlyLiveTimeout>0</RecentlyLiveTimeout>
      <UpdateConversationsInboxMessageIdFromLastMessage>1</UpdateConversationsInboxMessageIdFromLastMessage>
    </Conversation>
    <DynContent>
      <LastIpCountry>eu</LastIpCountry>
      <S>
        <LastTime>1442606062</LastTime>
      </S>
      <UILang>en</UILang>
    </DynContent>
    <MSNPCore>
      <HomeServer>DB3MSGR6010908.gateway.messenger.live.com</HomeServer>
      <NewThreadAllowed>1</NewThreadAllowed>
      <P2PMigrationAllowed>0</P2PMigrationAllowed>
      <ProtocolToUse>24</ProtocolToUse>
      <RecentConnectionInfo>DB3MSGR6010908.gateway.messenger.live.com@2015-09-18T19:54:25Z,DB3MSGR6010908.gateway.messenger.live.com@2015-09-18T19:56:16Z,</RecentConnectionInfo>
      <RecentConversationsSyncState>1750e186474f0100000000000000000000000000000000000006000000736269676f6c0000000000000000014615f63f4f010000d15907e24f0100000150e186474f010000d15907e24f010000010000000000000000d15907e24f0100000150e186474f010000d15907e24f0100000000000000000000</RecentConversationsSyncState>
    </MSNPCore>
    <Notification>
      <LastID>1000000366</LastID>
      <LastPoll>1442606177</LastPoll>
      <LastSearch>1442606178</LastSearch>
    </Notification>
    <PM>
      <pslut>1442606061</pslut>
    </PM>
    <ProfilePopulated>1</ProfilePopulated>
    <PropsManager>
      <PermaProps>410500AA02000087200000AE200000AB2000008B20EED7F1AF05</PermaProps>
    </PropsManager>
    <PushNotifications>
      <PK>x63b96e5849660f569da6647d9c48b16f3340bb86c3be310304de7fda41b97eff348ce36c863f578a39d25b43334f4afb123873da9e6750322800e5b29eb536dc788c5d0e</PK>
    </PushNotifications>
    <Sms>
      <CliOptions>4105002313032D434C49204F4B000134000000000000000001350000000000000000003600</CliOptions>
      <CliOptionsFetchedOK>0</CliOptionsFetchedOK>
      <CliOptionsVersion>2</CliOptionsVersion>
    </Sms>
    <StatsSender>
      <Phase2>
        <ProposedDelivery>1442648499</ProposedDelivery>
      </Phase2>
      <SubmitID>5</SubmitID>
      <Type2SubmitID>
        <_1>5</_1>
      </Type2SubmitID>
    </StatsSender>
    <table_insert_history>
      <c95d37e7155f002fca01c549fced15cc4762a5e50959bfcfe62e1ab3b746769b>1442692576 19865:21600:1442606176 62943:21600:1442606176 49674:17280:1442606176 44036:28800:1442606176 61091:21600:1442606176</c95d37e7155f002fca01c549fced15cc4762a5e50959bfcfe62e1ab3b746769b>
    </table_insert_history>
  </Lib>
  <UI>
    <API>
      <Authorizations>Skype4Py</Authorizations>
      <BlockedPrograms></BlockedPrograms>
    </API>
  </UI>
</config>
